//
// Navigation
//

.bg-primary {
    background: #fff !important;
}

nav {
    font-family: $font-family-monospace;
    font-size: 1.75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

nav svg {
    text-transform: lowercase;
}

.navbar-brand a:hover {
    text-decoration: none;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

#wrapper-navbar {
    border-bottom: 1px solid #979797;
}

.navbar {
    max-width: 1192px;
    margin: 0 auto;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    font-weight: 800;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active {
    cursor: default;
}
